*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightgrey;
}

table.main_table{
  height: 50vh;
  width: 25vw;
}

.main_table thead{
  background-color: white;
}

table.main_table tr td{
  text-align: center;
  border: 1px solid black;
}

table.main_table tr td.room-number:hover{
  text-align: center;
  border: 1px solid black;
  background-color: lightyellow;
  cursor: pointer;
}

.room_selected{
  padding: 20px;
  background-color: white;
  width: 300px;
  height: 110px;
  margin-left: 20px;
}

button.showguests{
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 10px;
}
